#intro {
    height: 100vh;
    width: 100vw;
    max-height: 1080px;
    min-height: 240px;
    background-image: url(../images/intro-bg.png);
    background-repeat: round;
    background-size: cover;
    padding-right: 375px;
    #for_arrow {
        position: absolute;
        bottom: 0;
        height: 30%;
        width: 100%;
        &:hover #arrow {
            opacity: .45;
            animation-play-state: running;
        }
        #arrow {
            filter: invert(1);
            opacity: 0;
            transform: scale(.7);
            width: 40px;
            height: 300px;
            margin: 0 auto;
            position: relative;
            top: 50%;
            animation: arrow 5s ease-in-out infinite;
            animation-play-state: paused;
            cursor: pointer;
            transition: .4s ease-in-out;
            @keyframes arrow {
                0% { top: 50%; }
                60% { top: 50%; }
                75% { top: 70%; }
                80% { top: 60%; }
                90% { top: 70%; }  
                100% { top: 50%; }
            }
        }
    }
    #rotate-text {
        position: absolute;
        text-transform: uppercase;
        font-size: 26px;
        color: rgb(247, 248, 243);
        transform: rotate(-90deg) translate(50%);
        bottom: 10%;
        animation: text 10s ease-in-out infinite;
        @keyframes text {
            0% { bottom: 10%; }
            90% { bottom: 10%; }
            92% { bottom: 0%; }
            94% { bottom: 5%; }  
            96% { bottom: 0%; }
            100% { bottom: 10%; }
        }
    }
    .wrapper {
        position: relative;
        max-width: 1550px;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        transform: translateY(-50%);
        button {
            margin-top: 50px;
            font-size: 20px;
            height: 70px;
            line-height: 66px;
            padding: 0 20px;
            width: 200px;
            border: 2px solid rgba(247, 248, 243, 0.4);
            background-color: rgba(247, 248, 243, 0);
            text-transform: uppercase;
            text-align: left;
            cursor: pointer;
            transition: 1s ease-in-out;
            l {
                position: relative;
                left: 10%;
            }
            a {
                color: rgba(247, 248, 243, 0.8);
                text-decoration: none;
            }
            &:hover {
                color: rgb(255, 255, 255);
                background-color: rgba(255, 255, 255, 0.308);
                border: 2px solid rgba(255, 255, 255, 0.308);
            }
        }
        p {
            text-align: right;
            &:nth-child(1) {
                font-size: 56px;
                color: rgba(247, 248, 243, 0.8);
                text-transform: uppercase;
                letter-spacing: 5px;
            }
            &:nth-child(2) {
                font-size: 56px;
                color: rgba(247, 248, 243, 0.8);
                text-transform: uppercase;
                letter-spacing: 5px;
            }
            &:nth-child(3) {
                font-size: 22px;
                color: rgba(247, 248, 243, 0.4);
                letter-spacing: 3px;
                margin: 10px 0;
            }
            &:nth-child(5) {
                margin-top: 20px;
                font-size: 18px;
                color: rgba(247, 248, 243, 0.4);
                letter-spacing: 2px;
                cursor: pointer;
                transition: .3s ease-in-out;
                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

@media screen and (max-device-width: 1679px) {
    #intro {
        padding-right: 325px;
    }
}

@media screen and (max-device-width: 1439px) {
    #intro {
        padding-right: 225px;
    }
}

@media screen and (max-device-width: 1151px) {
    #intro {
        padding-right: 125px;
    }
}

@media screen and (max-device-width: 853px) {
    #intro {
        padding-right: 80px;
    }
}

@media screen and (max-device-width: 479px) {
    #intro {
        padding-right: 50px;
    }
}
