nav {
    width: 100%;
    background-image: url(../images/Shadow.png);
    background-size: contain;
    height: 100px;
    position: fixed;
    z-index: 10;
    div {
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 3%;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        ul:nth-child(3) {
            width: 390px;
            height: 100%;
            li {
                width: 130px;
                height: 100%;
                border-left: 2px solid rgba(255, 255, 255, 0.5);;
            }
            li:nth-child(2) {
                position: relative;
                img {
                    position: relative;
                    transform: translateY(15%);
                }
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            width: 25%;
            height: 100%;
            justify-content: space-between;
            font-size: 20px;
            font-family: "Oswald";
            color: rgb(248, 248, 248);
            text-transform: uppercase;
            text-align: center;
            list-style-type: none;
            li {
                line-height: 75px;
                cursor: pointer;
                transition: .5s all ease-in-out;
                a {
                    font-family: "Oswald";
                    color: rgb(248, 248, 248);
                    text-decoration: none;
                }
            }
            .navs {
                filter: drop-shadow(11px 8px 2px rgba(0, 0, 0, 0));
                &:hover {
                    filter: drop-shadow(11px 8px 2px rgba(0, 0, 0, 0.65));
                    color: rgb(255, 255, 255);
                }
                &:active {
                    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
                    transition: .25s all ease-in-out;
                }
            }
        }
        p {
            font-size: 30px;
            font-family: "Oswald";
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }
    }     
}

@media screen and (max-device-width: 1440px) {
    nav div ul {
        width: 35%;
        li a {
            font-size: 16px;
        }
    }
    nav div ul:nth-child(3) {
        width: 35%;
    }
}


@media screen and (max-device-width: 853px) {
    nav {
        display: none;
    }
}
