#products {
    #for_slider {
        display: flex;
        text-align: center;
        height: 100px;
        width: 250px; 
        margin: 0 auto;
        font-size: 50px;
        color: rgb(110, 119, 74);
        button {
            background-color: rgba(255, 255, 255, 0);
            border: none;
            width: 50%;
            font-size: 50px;
            line-height: 50px;
            &:focus {
                outline: none;
            }
        }
    }
    .title_products {
        font-size: 30px;
        font-family: "Oswald";
        color: rgb(28, 28, 27);
        text-transform: uppercase;
        line-height: 2.5;
        text-align: center;
        margin-bottom: 3%;
      }
    .product-slider {
        margin-bottom: 2%;
        .slide {
            height: 450px;
            margin: 0 1%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:focus {
                outline: none;
            }
            #flavor {
                background-image: url(../images/products/flavor.png);
                background-size: 22%;
                &:hover {
                    background-size: 28%;
                }
            }
            #muscle {
                background-image: url(../images/products/muscle.png);
                background-size: 35%;
                    &:hover {
                        background-size: 48%;
                }
            }
            #coffe {
                background-image: url(../images/products/coffe.png);
                background-size: 24%;
                &:hover {
                    background-size: 33%;
                }
            }
            #oil {
                background-image: url(../images/products/oil.png);
                background-size: 25%;
                &:hover {
                    background-size: 45%;
                }
            }
            #tea {
                background-image: url(../images/products/tea.png);
                background-size: 77%;
                &:hover {
                    background-size: 105%;
                }
            }
            .head_slide {
                width: 100%;
                height: 100%;
                background-position: center 80%;
                background-repeat: no-repeat;
                background-color: white;
                padding-top: 5%;
                border: solid 1px #E8ECDA;
                transition: all .35s ease-in-out;
                &.disable_bg {
                    background-image: none;
                }
                cursor: help;
                .stars {
                    margin: 0 auto;
                    display: flex;
                    width: 80px;
                    height: 18px;
                    margin-bottom: 2%;
                }
                .slide_product_title {
                    font-size: 18px;
                    font-family: "Oswald";
                    font-weight: bold;
                    color: rgb(28, 28, 27);
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 2px;
                }
                .question_text {
                    text-align: center;
                    padding: 10%;
                    font-size: 0px;
                    transition: all 1.5s ease-in-out;
                }
            }
            .footer_slide {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 30px;
                padding-right: 2px;
                position: relative;
                background-color: #F1F1F1;
                .price {
                    font-size: 18px;
                    line-height: 70px;
                    font-family: "Oswald";
                    font-weight: bold;
                    color: rgb(28, 28, 27);
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: 2px;
                }
                button {
                    font-size: 20px;
                    font-family: "Oswald";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    background-color: #6E744A;
                    width: 35%;
                    height: 70px;
                    cursor: pointer;
                    l {
                        letter-spacing: -4px;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}