#products {
    .title_products {
        font-size: 30px;
        font-family: "Oswald";
        color: rgb(28, 28, 27);
        text-transform: uppercase;
        line-height: 2.5;
        text-align: center;
        margin-bottom: 3%;
      }
    .product-slider {
        #flavor_slide {
            .head_slide {
                background-image: url(../images/flavor.png);
                background-size: 22%;
                &:hover {
                    background-size: 28%;
                }
            }
        }
        #muscle_slide {
            .head_slide {
                background-image: url(../images/muscle.png);
                background-size: 35%;
                    &:hover {
                        background-size: 48%;
                }
            }
        }
        #coffe_slide {
            .head_slide {
                background-image: url(../images/coffe.png);
                background-size: 24%;
                &:hover {
                    background-size: 33%;
                }
            }
        }
        #oil_slide {
            .head_slide {
                background-image: url(../images/oil.png);
                background-size: 25%;
                &:hover {
                    background-size: 45%;
                }
            }
        }
        #tea_slide {
            .head_slide {
                background-image: url(../images/tea.png);
                background-size: 77%;
                &:hover {
                    background-size: 105%;
                }
            }
        }
        .slide {
            height: 450px;
            margin: 0 1%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:focus {
                outline: none;
            }
            .head_slide {
                width: 100%;
                height: 100%;
                background-position: center 80%;
                background-repeat: no-repeat;
                background-color: white;
                padding-top: 5%;
                border: solid 1px #E8ECDA;
                transition: all .35s ease-in-out;
                &.disable_bg {
                    background-image: none;
                }
                cursor: help;
                .stars {
                    margin: 0 auto;
                    display: flex;
                    width: 80px;
                    height: 18px;
                    margin-bottom: 2%;
                }
                .slide_product_title {
                    font-size: 18px;
                    font-family: "Oswald";
                    font-weight: bold;
                    color: rgb(28, 28, 27);
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 2px;
                }
                .question_text {
                    text-align: center;
                    padding: 10%;
                    font-size: 0px;
                    transition: all 1.5s ease-in-out;
                }
            }
            .footer_slide {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 30px;
                padding-right: 2px;
                position: relative;
                background-color: #F1F1F1;
                .price {
                    font-size: 18px;
                    line-height: 70px;
                    font-family: "Oswald";
                    font-weight: bold;
                    color: rgb(28, 28, 27);
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: 2px;
                }
                button {
                    font-size: 20px;
                    font-family: "Oswald";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    background-color: #6E744A;
                    width: 35%;
                    height: 70px;
                    cursor: pointer;
                    l {
                        letter-spacing: -4px;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}