#question {
    margin-bottom: 10%;
    .wrapper {
        width: 570px;
        margin: 0 auto;
        .title_block{
            font-size: 30px;
            color: rgb(28, 28, 27);
            text-transform: uppercase;
            line-height: 2.5;
            text-align: center;
            margin-bottom: 30px;
            cursor: pointer;
        }
        #question_block {
            height: 650px;
            .question_block {
                text-align: left;
                border-top: 2px solid rgba(110, 119, 74, .5);
                #answer_question_4 {
                    border-bottom: 2px solid rgba(110, 119, 74, .5);
                }
                .question_click {
                    font-size: 18px;
                    color: rgb(110, 119, 74);
                    padding: 25px 0;
                    letter-spacing: 4px;
                    line-height: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    .plus {
                        display: inline-block;
                        width: 30px;
                        height: 60px;
                        font-size: 40px;
                        text-align: center;
                        font-family: "Font Awesome 5 Free";
                    }
                }
                .answer_block {
                    font-size: 18px;
                    letter-spacing: 1.5px;
                    color: rgb(0, 0, 0);
                    padding: 25px 0;
                    padding-top: 0;
                    padding-left: 30px;
                    transition: 1s all ease-in-out;
                }
            }
        }
    }
}

@media screen and (max-device-width: 1439px) {

}

@media screen and (max-device-width: 1151px) {

}

@media screen and (max-device-width: 853px) {
    #question .wrapper {
        width: 80%;
        min-width: 450px;
        #question_block {
            height: 750px;
            .question_block {
                padding: 0 5px;
            }
            .question_block .question_click {
                letter-spacing: 3px;
            }
        }
        .title_block {
            margin-top: 20%;
        }
    }
}

@media screen and (max-device-width: 479px) {

}