#question {
    .wrapper {
        width: 570px;
        margin: 0 auto;
        .title_block{
            font-size: 30px;
            color: rgb(28, 28, 27);
            text-transform: uppercase;
            line-height: 2.5;
            text-align: center;
            margin-bottom: 30px;
            cursor: pointer;
          }
        #question_block {

            .question_block {
                text-align: left;
                border-top: 2px solid rgba(110, 119, 74, .5);
                #answer_question_4 {
                    border-bottom: 2px solid rgba(110, 119, 74, .5); 
                }
                .question_click {
                    font-size: 18px;
                    color: rgb(110, 119, 74);
                    padding: 25px 0;
                    letter-spacing: 4px;
                    line-height: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    .plus {
                        display: inline-block;
                        width: 30px;
                        height: 60px;
                        font-size: 40px;
                        text-align: center;
                        font-family: "Font Awesome 5 Free";
                    }
                }
                .answer_block {
                    font-size: 18px;
                    letter-spacing: 1.5px;
                    color: rgb(0, 0, 0);
                    padding: 25px 0;
                    padding-top: 0;
                    padding-left: 30px;
                    transition: 1s all ease-in-out;
                }
            }
        }
    }
}