#we_are {
    width: 100%;
    padding: 100px 0;
    margin-bottom: 5%;
    .wrapper {
        width: 100%;
        padding: 0 375px;
        .up_div {
            width: 620px;
            height: 180px;
            padding: 30px 55px;
            background-image: url(../images/border-logos.png);
            background-repeat: round;
            background-position-x: center;
            margin: 0 auto;
            p {
                text-transform: uppercase;
                text-align: center;
                color: rgb(28, 28, 28);
                font-size: 30px;
                letter-spacing: 5px;
            }
            img {
                width: 510px;
                margin: 0 auto;
            }
        }
        .down_div {
            padding: 0 3%;
            min-height: 800px;
            #benefits_text {
                flex-direction: row-reverse;
                .down_right_div {
                    transform: translateX(-20%);
                }
            }
            .title_div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin-top: 10%;
                .text_title {
                    font-size: 30px;
                    font-family: "Oswald";
                    color: rgba(28, 28, 27, 0.6);
                    text-transform: uppercase;
                    line-height: 2.5;
                    text-align: center;
                    border-bottom: 4px solid #cbda8fa2;
                    width: 100%;
                    text-align: left;
                    cursor: pointer;
                    transition: all .25s ease-in-out;
                    &:hover {
                        border-bottom: 4px solid #454e227c;
                        color: rgba(28, 28, 27, 0.85);
                    }
                    &.isActive {
                        border-bottom: 4px solid #454e22;
                        color: rgb(28, 28, 27);
                    }
                }
            }
            .down_div_text_block {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 10%;
                display: none;
                transition: .5s all linear;
                opacity: 0;
                &.isActive {
                    display: flex;
                    opacity: 1;
                }
                .down_left_div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .down_div_title {
                        font-size: 24px;
                        font-family: "Oswald";
                        color: rgb(0, 0, 0);
                        text-transform: uppercase;
                        text-align: left;
                        letter-spacing: 4px;
                        width: 100%;
                        max-width: 280px;
                        margin-top: 5%;
                    }
                    .down_div_text {
                        font-size: 18px;
                        font-family: "Oswald";
                        color: rgb(110, 119, 74);
                        text-align: left;
                        margin: 5% 0;
                        line-height: 2;
                    }
                }
                .down_right_div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    position: relative;
                    transform: translateX(20%);
                    img {
                        object-fit: cover;
                        height: 40%;
                    }
                    :nth-child(2) {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width: 2560px) {
    #we_are .wrapper {
        .down_div .down_div_text_block .down_left_div {
            .down_div_text {
                font-size: 28px;
            }
            .down_div_title {
                font-size: 32px;
                max-width: 500px;
            } 
            .title_div .text_title {
                font-size: 34px;
            } 
        }
        
    }
}

@media screen and (max-device-width: 1679px) {
    #we_are {
        .wrapper {
            padding: 0 325px;
            .down_right_div {
                width: 65%;
                max-width: 480px;
            }
        }
    }
}

@media screen and (max-device-width: 1439px) {
        #we_are {
        .wrapper {
            padding: 0 225px;
            .down_right_div {
                width: 70%;
            }
        }
    }
}

@media screen and (max-device-width: 1151px) {
    #we_are .wrapper {
        padding: 0 100px;
        .down_div .title_div .text_title {
            text-align: center;
        }
        .down_div .down_div_text_block .down_left_div .down_div_text {
            font-size: 16px;
        }
        .down_div .down_div_text_block .down_right_div img {
            height: 40%;
            min-height: 270px;
        }
    }
}

@media screen and (max-device-width: 853px) {
    #we_are .wrapper {
        padding: 0 20px;
        .up_div {
            height: auto;
            p {
                font-size: 24px;
            }
            img {
                width: 100%;
            }
        }
        .down_div .title_div .text_title {
            text-align: center;
            font-size: 22px;
        }
        .down_div .down_div_text_block .down_left_div {
            margin: 0 -3%;
            .down_div_text {
                font-size: 14px;
            }
        }
        .down_div .down_div_text_block .down_right_div {
            transform: translateX(11%);
            img {
                height: 25%;
                min-height: 200px;
            }
        }
    }
}

@media screen and (max-device-width: 479px) {
        #we_are {
        .wrapper {
            padding: 0 325px;
            .down_right_div {
                width: 70%;
            }
        }
    }
}