@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: "Oswald";
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
  background-color: #F7F8F3;
  font-family: "Oswald";
}

@import "nav";
@import "intro";
@import "we_are";
@import "products";
@import "question";
@import "photo_slider";
//@import "footer";