@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: "Oswald";
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F7F8F3;
  font-family: "Oswald";
}

nav {
  width: 100%;
  background-image: url(../images/Shadow.png);
  background-size: contain;
  height: 150px;
  position: fixed;
}

nav div {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

nav div ul:nth-child(3) {
  width: 390px;
  height: 100%;
}

nav div ul:nth-child(3) li {
  width: 130px;
  height: 100%;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

nav div ul:nth-child(3) li:nth-child(2) {
  position: relative;
}

nav div ul:nth-child(3) li:nth-child(2) img {
  position: relative;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-family: "Oswald";
  color: white;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

nav div ul li {
  line-height: 75px;
}

nav div p {
  font-size: 30px;
  font-family: "Oswald";
  text-transform: uppercase;
  color: white;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#intro {
  height: 100vh;
  width: 100vw;
  max-height: 1080px;
  min-height: 240px;
  background-image: url(../images/intro-bg.png);
  background-repeat: round;
  background-size: cover;
  padding-right: 375px;
}

#intro #for_arrow {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
}

#intro #for_arrow:hover #arrow {
  opacity: .45;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#intro #for_arrow #arrow {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  width: 40px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-animation: arrow 3s ease-in-out infinite;
          animation: arrow 3s ease-in-out infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

@-webkit-keyframes arrow {
  0% {
    top: 50%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 70%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}

@keyframes arrow {
  0% {
    top: 50%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 70%;
  }
  60% {
    top: 60%;
  }
  80% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}

#intro #rotate-text {
  position: absolute;
  text-transform: uppercase;
  font-size: 26px;
  color: #f7f8f3;
  -webkit-transform: rotate(-90deg) translate(50%);
          transform: rotate(-90deg) translate(50%);
  bottom: 10%;
  -webkit-animation: text 20s ease-in-out infinite;
          animation: text 20s ease-in-out infinite;
}

@-webkit-keyframes text {
  0% {
    bottom: 10%;
  }
  95% {
    bottom: 10%;
  }
  96% {
    bottom: 0%;
  }
  97% {
    bottom: 5%;
  }
  98% {
    bottom: 0%;
  }
  100% {
    bottom: 10%;
  }
}

@keyframes text {
  0% {
    bottom: 10%;
  }
  95% {
    bottom: 10%;
  }
  96% {
    bottom: 0%;
  }
  97% {
    bottom: 5%;
  }
  98% {
    bottom: 0%;
  }
  100% {
    bottom: 10%;
  }
}

#intro .wrapper {
  position: relative;
  max-width: 1550px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#intro .wrapper p {
  text-align: right;
}

#intro .wrapper p:nth-child(1) {
  font-size: 56px;
  color: rgba(247, 248, 243, 0.8);
  text-transform: uppercase;
  letter-spacing: 5px;
}

#intro .wrapper p:nth-child(2) {
  font-size: 56px;
  color: rgba(247, 248, 243, 0.8);
  text-transform: uppercase;
  letter-spacing: 5px;
}

#intro .wrapper p:nth-child(3) {
  font-size: 22px;
  color: rgba(247, 248, 243, 0.4);
  letter-spacing: 3px;
  margin: 10px 0;
}

#intro .wrapper p:nth-child(4) {
  margin-top: 50px;
  font-size: 20px;
  height: 70px;
  line-height: 66px;
  padding: 0 20px;
  width: 200px;
  border: 2px solid rgba(247, 248, 243, 0.4);
  color: rgba(247, 248, 243, 0.8);
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#intro .wrapper p:nth-child(4) l {
  position: relative;
  left: 10%;
}

#intro .wrapper p:nth-child(4):hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.308);
  border: 2px solid rgba(255, 255, 255, 0.308);
}

#intro .wrapper p:nth-child(5) {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(247, 248, 243, 0.4);
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#intro .wrapper p:nth-child(5):hover {
  color: white;
}

#we_are {
  width: 100%;
  padding: 100px 0;
  margin-bottom: 10%;
}

#we_are .wrapper {
  width: 100%;
  padding: 0 375px;
}

#we_are .wrapper .up_div {
  width: 620px;
  height: 180px;
  padding: 30px 55px;
  background-image: url(../images/border-logos.png);
  background-repeat: round;
  margin: 0 auto;
}

#we_are .wrapper .up_div p {
  text-transform: uppercase;
  text-align: center;
  color: #1c1c1c;
  font-size: 30px;
  letter-spacing: 5px;
}

#we_are .wrapper .up_div img {
  width: 510px;
  margin: 0 auto;
}

#we_are .wrapper .down_div {
  padding: 0 10%;
}

#we_are .wrapper .down_div #benefits_text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#we_are .wrapper .down_div #benefits_text .down_right_div {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

#we_are .wrapper .down_div .title_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 10%;
}

#we_are .wrapper .down_div .title_div .text_title {
  font-size: 30px;
  font-family: "Oswald";
  color: rgba(28, 28, 27, 0.8);
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
  border-bottom: 4px solid #cbda8fa2;
  width: 100%;
  text-align: left;
}

#we_are .wrapper .down_div .title_div .text_title:hover {
  border-bottom: 4px solid #454e2275;
  color: rgba(28, 28, 27, 0.85);
}

#we_are .wrapper .down_div .title_div .text_title.isActive {
  border-bottom: 4px solid #454e22;
  color: #1c1c1b;
}

#we_are .wrapper .down_div .down_div_text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10%;
}

#we_are .wrapper .down_div .down_div_text_block .down_left_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_title {
  font-size: 24px;
  font-family: "Oswald";
  color: black;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 4px;
  width: 100%;
  max-width: 280px;
  margin-top: 5%;
}

#we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_text {
  font-size: 18px;
  font-family: "Oswald";
  color: #6e774a;
  text-align: left;
  margin-top: 15%;
  line-height: 2;
}

#we_are .wrapper .down_div .down_div_text_block .down_right_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

#we_are .wrapper .down_div .down_div_text_block .down_right_div :nth-child(2) {
  margin-top: 30px;
}

/*@import "products";
@import "question";
@import "photo-slider";
@import "footer";*/
/*# sourceMappingURL=variable.css.map */