@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  line-height: 1.5;
  font-family: "Oswald";
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #F7F8F3;
  font-family: "Oswald";
}

nav {
  width: 100%;
  background-image: url(../images/Shadow.png);
  background-size: contain;
  height: 100px;
  position: fixed;
  z-index: 10;
}

nav div {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

nav div ul:nth-child(3) {
  width: 390px;
  height: 100%;
}

nav div ul:nth-child(3) li {
  width: 130px;
  height: 100%;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
}

nav div ul:nth-child(3) li:nth-child(2) {
  position: relative;
}

nav div ul:nth-child(3) li:nth-child(2) img {
  position: relative;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
}

nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-family: "Oswald";
  color: #f8f8f8;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

nav div ul li {
  line-height: 75px;
  cursor: pointer;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

nav div ul li a {
  font-family: "Oswald";
  color: #f8f8f8;
  text-decoration: none;
}

nav div ul .navs {
  -webkit-filter: drop-shadow(11px 8px 2px rgba(0, 0, 0, 0));
          filter: drop-shadow(11px 8px 2px rgba(0, 0, 0, 0));
}

nav div ul .navs:hover {
  -webkit-filter: drop-shadow(11px 8px 2px rgba(0, 0, 0, 0.65));
          filter: drop-shadow(11px 8px 2px rgba(0, 0, 0, 0.65));
  color: white;
}

nav div ul .navs:active {
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
          filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
}

nav div p {
  font-size: 30px;
  font-family: "Oswald";
  text-transform: uppercase;
  color: white;
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media screen and (max-device-width: 1440px) {
  nav div ul {
    width: 35%;
  }
  nav div ul li a {
    font-size: 16px;
  }
  nav div ul:nth-child(3) {
    width: 35%;
  }
}

@media screen and (max-device-width: 853px) {
  nav {
    display: none;
  }
}

#intro {
  height: 100vh;
  width: 100vw;
  max-height: 1080px;
  min-height: 240px;
  background-image: url(../images/intro-bg.png);
  background-repeat: round;
  background-size: cover;
  padding-right: 375px;
}

#intro #for_arrow {
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 100%;
}

#intro #for_arrow:hover #arrow {
  opacity: .45;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#intro #for_arrow #arrow {
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  width: 40px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-animation: arrow 5s ease-in-out infinite;
          animation: arrow 5s ease-in-out infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

@-webkit-keyframes arrow {
  0% {
    top: 50%;
  }
  60% {
    top: 50%;
  }
  75% {
    top: 70%;
  }
  80% {
    top: 60%;
  }
  90% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}

@keyframes arrow {
  0% {
    top: 50%;
  }
  60% {
    top: 50%;
  }
  75% {
    top: 70%;
  }
  80% {
    top: 60%;
  }
  90% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}

#intro #rotate-text {
  position: absolute;
  text-transform: uppercase;
  font-size: 26px;
  color: #f7f8f3;
  -webkit-transform: rotate(-90deg) translate(50%);
          transform: rotate(-90deg) translate(50%);
  bottom: 10%;
  -webkit-animation: text 10s ease-in-out infinite;
          animation: text 10s ease-in-out infinite;
}

@-webkit-keyframes text {
  0% {
    bottom: 10%;
  }
  90% {
    bottom: 10%;
  }
  92% {
    bottom: 0%;
  }
  94% {
    bottom: 5%;
  }
  96% {
    bottom: 0%;
  }
  100% {
    bottom: 10%;
  }
}

@keyframes text {
  0% {
    bottom: 10%;
  }
  90% {
    bottom: 10%;
  }
  92% {
    bottom: 0%;
  }
  94% {
    bottom: 5%;
  }
  96% {
    bottom: 0%;
  }
  100% {
    bottom: 10%;
  }
}

#intro .wrapper {
  position: relative;
  max-width: 1550px;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#intro .wrapper button {
  margin-top: 50px;
  font-size: 20px;
  height: 70px;
  line-height: 66px;
  padding: 0 20px;
  width: 200px;
  border: 2px solid rgba(247, 248, 243, 0.4);
  background-color: rgba(247, 248, 243, 0);
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#intro .wrapper button l {
  position: relative;
  left: 10%;
}

#intro .wrapper button a {
  color: rgba(247, 248, 243, 0.8);
  text-decoration: none;
}

#intro .wrapper button:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.308);
  border: 2px solid rgba(255, 255, 255, 0.308);
}

#intro .wrapper p {
  text-align: right;
}

#intro .wrapper p:nth-child(1) {
  font-size: 56px;
  color: rgba(247, 248, 243, 0.8);
  text-transform: uppercase;
  letter-spacing: 5px;
}

#intro .wrapper p:nth-child(2) {
  font-size: 56px;
  color: rgba(247, 248, 243, 0.8);
  text-transform: uppercase;
  letter-spacing: 5px;
}

#intro .wrapper p:nth-child(3) {
  font-size: 22px;
  color: rgba(247, 248, 243, 0.4);
  letter-spacing: 3px;
  margin: 10px 0;
}

#intro .wrapper p:nth-child(5) {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(247, 248, 243, 0.4);
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#intro .wrapper p:nth-child(5):hover {
  color: white;
}

@media screen and (max-device-width: 1679px) {
  #intro {
    padding-right: 325px;
  }
}

@media screen and (max-device-width: 1439px) {
  #intro {
    padding-right: 225px;
  }
}

@media screen and (max-device-width: 1151px) {
  #intro {
    padding-right: 125px;
    max-height: 850px;
  }
}

@media screen and (max-device-width: 853px) {
  #intro {
    padding-right: 80px;
    max-height: 500px;
  }
}

@media screen and (max-device-width: 479px) {
  #intro {
    padding-right: 50px;
  }
}

#we_are {
  width: 100%;
  padding: 100px 0;
  margin-bottom: 5%;
}

#we_are .wrapper {
  width: 100%;
  padding: 0 375px;
}

#we_are .wrapper .up_div {
  width: 620px;
  height: 180px;
  padding: 30px 55px;
  background-image: url(../images/border-logos.png);
  background-repeat: round;
  margin: 0 auto;
}

#we_are .wrapper .up_div p {
  text-transform: uppercase;
  text-align: center;
  color: #1c1c1c;
  font-size: 30px;
  letter-spacing: 5px;
}

#we_are .wrapper .up_div img {
  width: 510px;
  margin: 0 auto;
}

#we_are .wrapper .down_div {
  padding: 0 3%;
  min-height: 800px;
}

#we_are .wrapper .down_div #benefits_text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#we_are .wrapper .down_div #benefits_text .down_right_div {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

#we_are .wrapper .down_div .title_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 10%;
}

#we_are .wrapper .down_div .title_div .text_title {
  font-size: 30px;
  font-family: "Oswald";
  color: rgba(28, 28, 27, 0.6);
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
  border-bottom: 4px solid #cbda8fa2;
  width: 100%;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

#we_are .wrapper .down_div .title_div .text_title:hover {
  border-bottom: 4px solid #454e227c;
  color: rgba(28, 28, 27, 0.85);
}

#we_are .wrapper .down_div .title_div .text_title.isActive {
  border-bottom: 4px solid #454e22;
  color: #1c1c1b;
}

#we_are .wrapper .down_div .down_div_text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10%;
  display: none;
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  opacity: 0;
}

#we_are .wrapper .down_div .down_div_text_block.isActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

#we_are .wrapper .down_div .down_div_text_block .down_left_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_title {
  font-size: 24px;
  font-family: "Oswald";
  color: black;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 4px;
  width: 100%;
  max-width: 280px;
  margin-top: 5%;
}

#we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_text {
  font-size: 18px;
  font-family: "Oswald";
  color: #6e774a;
  text-align: left;
  margin: 5% 0;
  line-height: 2;
}

#we_are .wrapper .down_div .down_div_text_block .down_right_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

#we_are .wrapper .down_div .down_div_text_block .down_right_div img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 40%;
}

#we_are .wrapper .down_div .down_div_text_block .down_right_div :nth-child(2) {
  margin-top: 30px;
}

@media screen and (max-device-width: 2560px) {
  #we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_text {
    font-size: 28px;
  }
  #we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_title {
    font-size: 32px;
    max-width: 500px;
  }
  #we_are .wrapper .down_div .down_div_text_block .down_left_div .title_div .text_title {
    font-size: 34px;
  }
}

@media screen and (max-device-width: 1679px) {
  #we_are .wrapper {
    padding: 0 325px;
  }
  #we_are .wrapper .down_right_div {
    width: 65%;
    max-width: 480px;
  }
}

@media screen and (max-device-width: 1439px) {
  #we_are .wrapper {
    padding: 0 225px;
  }
  #we_are .wrapper .down_right_div {
    width: 70%;
  }
}

@media screen and (max-device-width: 1151px) {
  #we_are .wrapper {
    padding: 0 100px;
  }
  #we_are .wrapper .down_div .title_div .text_title {
    text-align: center;
  }
  #we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_text {
    font-size: 16px;
  }
  #we_are .wrapper .down_div .down_div_text_block .down_right_div img {
    height: 40%;
    min-height: 270px;
  }
}

@media screen and (max-device-width: 853px) {
  #we_are .wrapper {
    padding: 0 20px;
  }
  #we_are .wrapper .up_div {
    width: 100%;
    height: auto;
  }
  #we_are .wrapper .up_div p {
    font-size: 24px;
  }
  #we_are .wrapper .up_div img {
    width: 100%;
  }
  #we_are .wrapper .down_div .title_div .text_title {
    text-align: center;
    font-size: 22px;
  }
  #we_are .wrapper .down_div .down_div_text_block .down_left_div {
    margin: 0 -6%;
  }
  #we_are .wrapper .down_div .down_div_text_block .down_left_div .down_div_text {
    font-size: 14px;
  }
  #we_are .wrapper .down_div .down_div_text_block .down_right_div {
    -webkit-transform: translateX(11%);
            transform: translateX(11%);
  }
  #we_are .wrapper .down_div .down_div_text_block .down_right_div img {
    height: 25%;
    min-height: 200px;
  }
}

@media screen and (max-device-width: 479px) {
  #we_are .wrapper {
    padding: 0 325px;
  }
  #we_are .wrapper .down_right_div {
    width: 70%;
  }
}

#products #for_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 100px;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 7%;
  font-size: 50px;
}

#products #for_slider button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 50%;
  font-size: 50px;
  line-height: 50px;
  color: rgba(110, 119, 74, 0.651);
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  cursor: pointer;
}

#products #for_slider button:hover {
  color: #6e774a;
}

#products #for_slider button:focus {
  outline: none;
}

#products .title_products {
  font-size: 30px;
  font-family: "Oswald";
  color: #1c1c1b;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
  margin-bottom: 5%;
}

#products .product-slider {
  margin-bottom: 2%;
}

#products .product-slider .slide {
  height: 450px;
  margin: 0 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#products .product-slider .slide:focus {
  outline: none;
}

#products .product-slider .slide #flavor {
  background-image: url(../images/products/flavor.png);
  background-size: 22%;
}

#products .product-slider .slide #flavor:hover {
  background-size: 28%;
}

#products .product-slider .slide #muscle {
  background-image: url(../images/products/muscle.png);
  background-size: 35%;
}

#products .product-slider .slide #muscle:hover {
  background-size: 48%;
}

#products .product-slider .slide #coffe {
  background-image: url(../images/products/coffe.png);
  background-size: 24%;
}

#products .product-slider .slide #coffe:hover {
  background-size: 33%;
}

#products .product-slider .slide #oil {
  background-image: url(../images/products/oil.png);
  background-size: 25%;
}

#products .product-slider .slide #oil:hover {
  background-size: 45%;
}

#products .product-slider .slide #tea {
  background-image: url(../images/products/tea.png);
  background-size: 77%;
}

#products .product-slider .slide #tea:hover {
  background-size: 105%;
}

#products .product-slider .slide .head_slide {
  width: 100%;
  height: 100%;
  background-position: center 80%;
  background-repeat: no-repeat;
  background-color: white;
  padding-top: 5%;
  border: solid 1px #E8ECDA;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  cursor: help;
}

#products .product-slider .slide .head_slide.disable_bg {
  background-image: none;
}

#products .product-slider .slide .head_slide .stars {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 18px;
  cursor: pointer;
  margin-bottom: 2%;
}

#products .product-slider .slide .head_slide .stars img {
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  opacity: .5;
}

#products .product-slider .slide .head_slide .stars img:hover {
  opacity: 1;
}

#products .product-slider .slide .head_slide .slide_product_title {
  font-size: 18px;
  font-family: "Oswald";
  font-weight: bold;
  color: #1c1c1b;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

#products .product-slider .slide .head_slide .question_text {
  text-align: center;
  padding: 10%;
  font-size: 0px;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

#products .product-slider .slide .footer_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
  padding-right: 2px;
  position: relative;
  background-color: #F1F1F1;
}

#products .product-slider .slide .footer_slide .price {
  font-size: 18px;
  line-height: 70px;
  font-family: "Oswald";
  font-weight: bold;
  color: #1c1c1b;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 2px;
}

#products .product-slider .slide .footer_slide button {
  font-size: 20px;
  font-family: "Oswald";
  color: whitesmoke;
  text-transform: uppercase;
  background-color: #6e744aa2;
  width: 35%;
  height: 70px;
  cursor: pointer;
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

#products .product-slider .slide .footer_slide button:hover {
  background-color: #6E744A;
  color: white;
}

#products .product-slider .slide .footer_slide button l {
  letter-spacing: -4px;
  margin-left: 30px;
}

@media screen and (max-device-width: 1439px) {
  #products .product-slider .slide .footer_slide button l {
    margin-left: 5%;
  }
}

@media screen and (max-device-width: 1151px) {
  #products {
    height: 100vh;
    max-height: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-device-width: 853px) {
  #products {
    height: 100vh;
    max-height: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #products .product-slider .slide #flavor {
    background-size: 35%;
  }
  #products .product-slider .slide #muscle {
    background-size: 55%;
  }
  #products .product-slider .slide #coffe {
    background-size: 40%;
  }
  #products .product-slider .slide #oil {
    background-size: 55%;
  }
  #products .product-slider .slide #tea {
    background-size: 120%;
  }
  #products #for_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
    width: 350px;
  }
  #products #for_slider button {
    font-size: 100px;
  }
}

@media screen and (max-device-width: 479px) {
  #products {
    height: 100vh;
    max-height: 950px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #products .product-slider .slide #flavor {
    background-size: 35%;
  }
  #products .product-slider .slide #muscle {
    background-size: 55%;
  }
  #products .product-slider .slide #coffe {
    background-size: 40%;
  }
  #products .product-slider .slide #oil {
    background-size: 55%;
  }
  #products .product-slider .slide #tea {
    background-size: 120%;
  }
  #products #for_slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
    width: 350px;
  }
  #products #for_slider button {
    font-size: 100px;
  }
}

#question {
  margin-bottom: 10%;
}

#question .wrapper {
  width: 570px;
  margin: 0 auto;
}

#question .wrapper .title_block {
  font-size: 30px;
  color: #1c1c1b;
  text-transform: uppercase;
  line-height: 2.5;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
}

#question .wrapper #question_block {
  height: 650px;
}

#question .wrapper #question_block .question_block {
  text-align: left;
  border-top: 2px solid rgba(110, 119, 74, 0.5);
}

#question .wrapper #question_block .question_block #answer_question_4 {
  border-bottom: 2px solid rgba(110, 119, 74, 0.5);
}

#question .wrapper #question_block .question_block .question_click {
  font-size: 18px;
  color: #6e774a;
  padding: 25px 0;
  letter-spacing: 4px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#question .wrapper #question_block .question_block .question_click .plus {
  display: inline-block;
  width: 30px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  font-family: "Font Awesome 5 Free";
}

#question .wrapper #question_block .question_block .answer_block {
  font-size: 18px;
  letter-spacing: 1.5px;
  color: black;
  padding: 25px 0;
  padding-top: 0;
  padding-left: 30px;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

@media screen and (max-device-width: 853px) {
  #question .wrapper {
    width: 80%;
    min-width: 450px;
  }
  #question .wrapper #question_block {
    height: 750px;
  }
  #question .wrapper #question_block .question_block {
    padding: 0 5px;
  }
  #question .wrapper #question_block .question_block .question_click {
    letter-spacing: 3px;
  }
  #question .wrapper .title_block {
    margin-top: 20%;
  }
}

#photo-slider {
  width: 100vw;
  max-height: 1000px;
  position: relative;
}

#photo-slider #for_slider_photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 100px;
  width: 250px;
  margin: 0 auto;
  font-size: 50px;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#photo-slider #for_slider_photos button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  width: 50%;
  font-size: 50px;
  line-height: 50px;
  color: rgba(245, 245, 245, 0.8);
  border: solid 1px rgba(245, 245, 245, 0.8);
  -webkit-transition: .4s all ease-in-out;
  transition: .4s all ease-in-out;
  cursor: pointer;
}

#photo-slider #for_slider_photos button:hover {
  color: white;
}

#photo-slider #for_slider_photos button:active {
  -webkit-transition: .07s all ease-in-out;
  transition: .07s all ease-in-out;
  background-color: rgba(250, 250, 250, 0.5);
}

#photo-slider #for_slider_photos button:focus {
  outline: none;
}

#photo-slider .slider_photos {
  width: 100%;
  height: 100%;
}

#photo-slider .slider_photos .photo_slide {
  position: relative;
}

#photo-slider .slider_photos .photo_slide .rotate_rext {
  position: absolute;
  left: -3%;
  -webkit-transform: rotate(270deg) translateX(100%);
          transform: rotate(270deg) translateX(100%);
  bottom: 0;
  font-size: 30px;
  color: rgba(250, 250, 250, 0.9);
  letter-spacing: 4px;
  text-transform: uppercase;
  z-index: 2;
}

#photo-slider .slider_photos .photo_slide .inside_image {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transform: translateX(50%) translateY(-60%);
          transform: translateX(50%) translateY(-60%);
  z-index: 2;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#photo-slider .slider_photos .photo_slide .inside_image:hover ~ img {
  -webkit-filter: brightness(0.7) saturate(0.65);
          filter: brightness(0.7) saturate(0.65);
}

#photo-slider .slider_photos .photo_slide .inside_image:hover p {
  color: white;
}

#photo-slider .slider_photos .photo_slide .inside_image .stars {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 18px;
  cursor: pointer;
}

#photo-slider .slider_photos .photo_slide .inside_image .stars img {
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  opacity: .5;
}

#photo-slider .slider_photos .photo_slide .inside_image .stars img:hover {
  opacity: 1;
}

#photo-slider .slider_photos .photo_slide .inside_image .text_slide {
  font-size: 22px;
  width: 70%;
  margin: 0 auto;
  color: rgba(248, 248, 248, 0.65);
  text-align: center;
  line-height: 1.8;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#photo-slider .slider_photos .photo_slide .inside_image .text_author {
  font-size: 24px;
  color: rgba(248, 248, 248, 0.65);
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

#photo-slider .slider_photos .photo_slide .inside_image .text_author l {
  letter-spacing: -6px;
  margin-right: 3%;
}

#photo-slider .slider_photos .photo_slide img {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  -webkit-filter: brightness(1) saturate(1);
          filter: brightness(1) saturate(1);
}

@media screen and (min-device-width: 1920px) {
  #photo-slider .slider_photos .photo_slide .inside_image .text_slide, #photo-slider .slider_photos .photo_slide .inside_image .text_author {
    font-size: 28px;
  }
  #photo-slider .slider_photos .photo_slide .rotate_rext {
    font-size: 30px;
  }
}

@media screen and (max-device-width: 1439px) {
  #photo-slider #for_slider_photos {
    height: 80px;
    width: 220px;
  }
}

@media screen and (max-device-width: 1151px) {
  #photo-slider #for_slider_photos {
    height: 70px;
    width: 200px;
  }
  #photo-slider .slider_photos .photo_slide .inside_image .text_slide, #photo-slider .slider_photos .photo_slide .inside_image .text_author {
    font-size: 18px;
  }
  #photo-slider .slider_photos .photo_slide .rotate_rext {
    font-size: 16px;
    left: -5%;
  }
}

@media screen and (max-device-width: 853px) {
  #photo-slider #for_slider_photos {
    height: 70px;
    width: 200px;
  }
  #photo-slider .slider_photos .photo_slide .inside_image {
    position: fixed;
    width: 70%;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 55px;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  #photo-slider .slider_photos .photo_slide .inside_image .text_slide, #photo-slider .slider_photos .photo_slide .inside_image .text_author {
    font-size: 18px;
    width: 100%;
  }
  #photo-slider .slider_photos .photo_slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #photo-slider .slider_photos .photo_slide .images_sect4 {
    min-height: 280px;
  }
  #photo-slider .slider_photos .photo_slide .rotate_rext {
    font-size: 16px;
    left: -40px;
    -webkit-transform: rotate(270deg) translateX(50%);
            transform: rotate(270deg) translateX(50%);
  }
}

@media screen and (max-device-width: 479px) {
  #photo-slider .slider_photos .photo_slide .inside_image .text_slide, #photo-slider .slider_photos .photo_slide .inside_image .text_author {
    font-size: 20px;
  }
  #photo-slider .slider_photos .photo_slide .rotate_rext {
    font-size: 24px;
  }
}

footer {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #6E774A;
  position: relative;
}

footer #up_footer {
  position: absolute;
  left: 50%;
  top: 80px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20%;
  height: 200px;
  z-index: 4;
}

footer #up_footer .footer_title {
  font-size: 70px;
  margin-bottom: 15%;
}

footer #up_footer .footer_icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer #up_footer .footer_icons img {
  height: 45px;
  width: 35px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: 4px solid #6e774a00;
  cursor: pointer;
}

footer #up_footer .footer_icons img:hover {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  padding: 5px;
  border-top: 2px solid #6E774A;
  border-bottom: 2px solid #6E774A;
}

footer #up_footer .footer_icons img:nth-child(1) {
  height: 40px;
}

footer #up_footer .footer_icons img:nth-child(1):hover {
  padding: 7px;
}

footer #down_footer {
  position: relative;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  font-size: 12px;
  z-index: 3;
}

footer #down_footer p {
  margin: 15px 0;
  cursor: pointer;
  line-height: 20px;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  z-index: 3;
}

footer #down_footer p:hover {
  font-size: 20px;
}

footer #down_footer p:nth-child(1) {
  margin-top: 100px;
}

footer #down_footer .left, footer #down_footer .right {
  width: 25%;
  border-top: 3px solid #6E774A;
}

footer .subscribe {
  position: relative;
  top: 100px;
  z-index: 1;
}

footer .subscribe img {
  height: 80px;
  margin-bottom: 20px;
}

footer .subscribe P {
  font-size: 16px;
  color: #1a1b1c;
  margin-bottom: 20px;
}

footer .subscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  max-width: 400px;
  min-width: 280px;
  margin: 0 auto;
  border: 3px solid #6e774ac9;
}

footer .subscribe form input {
  background-color: #F7F8F3;
  height: 60px;
  font-size: 15px;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

footer .subscribe form input:focus {
  outline: none;
}

footer .subscribe form input:nth-child(1) {
  width: 80%;
  border: none;
  padding: 20px;
  line-height: 20px;
  font-family: cursive;
  letter-spacing: 2px;
}

footer .subscribe form input:nth-child(1):valid + #submit {
  background-color: rgba(0, 128, 0, 0.658);
}

footer .subscribe form input:nth-child(1)::-webkit-input-placeholder {
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-family: "Oswald";
}

footer .subscribe form input:nth-child(1):-ms-input-placeholder {
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-family: "Oswald";
}

footer .subscribe form input:nth-child(1)::-ms-input-placeholder {
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-family: "Oswald";
}

footer .subscribe form input:nth-child(1)::placeholder {
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 1;
  font-family: "Oswald";
}

footer .subscribe form input:nth-child(1):focus {
  background-color: white;
  font-size: 20px;
}

footer .subscribe form input:nth-child(1):focus ~ input {
  background-color: white;
  font-size: 25px;
}

footer .subscribe form input:nth-child(1):focus::-webkit-input-placeholder {
  opacity: 0;
  font-size: 15px;
}

footer .subscribe form input:nth-child(1):focus:-ms-input-placeholder {
  opacity: 0;
  font-size: 15px;
}

footer .subscribe form input:nth-child(1):focus::-ms-input-placeholder {
  opacity: 0;
  font-size: 15px;
}

footer .subscribe form input:nth-child(1):focus::placeholder {
  opacity: 0;
  font-size: 15px;
}

footer .subscribe form input:nth-child(2) {
  width: 33%;
  border: none;
  border-left: 3px solid #6E774A;
  font-size: 20px;
}

footer .subscribe form input:nth-child(2):active {
  color: black;
}

footer .down_title {
  position: relative;
  top: 150px;
  height: 100px;
}

@media screen and (max-device-width: 1439px) {
  footer #down_footer {
    width: 100%;
    max-width: 1170px;
  }
}

@media screen and (max-device-width: 1151px) {
  footer #down_footer {
    width: 100%;
  }
}

@media screen and (max-device-width: 853px) {
  footer #up_footer {
    top: 95px;
    width: 40%;
  }
  footer #down_footer .right, footer #down_footer .left {
    width: 30%;
    min-width: 120px;
    max-width: 200px;
  }
  footer .subscribe form {
    width: 80%;
    max-width: 420px;
  }
}
/*# sourceMappingURL=variable.css.map */